.footer-main {
    height: 30vh;
    box-shadow: 2px 2px 3px white;

}

.title-footer{
    text-align: center;
    position: relative;
    top: 10%;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 25%;

}

.social a {
    margin: 0 10px;
    color: #333;
    font-size: 24px;

}

.social a:hover {
    color: #000;
}

.reserved{
    text-align: center;
    top: 50%;
    position: relative;

}